body{
    background-image: url(../images/beauty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.back{margin-top: 100px;

}
.space{
    height: 24px;
}
h5{
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    color: navy;
}
#current{
    font-size: xx-large;
}